@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #07090c;
  color: #fddbb7;
  font-style: italic;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.top-menu__logo-img {
  width: 50px;
  margin-right: 20px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(7, 9, 12);
  color: #fddbb7;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 75px;
  padding-right: 75px;
  align-items: center;
}

.top-menu__ul {
  display: flex;
  gap: 43px;
}

.top-menu__logo {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.top-menu__name {
  font-size: 35px;
}

.top-menu__site-name {
  font-size: 20px;
}

.top-menu__nav {
  display: flex;
  align-items: center;
}

.top-menu__li {
  font-weight: 700;
  font-size: 17px;
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .top-menu {
    padding-right: 45px;
    padding-left: 45px;
  }

  .top-menu__nav {
    display: none;
  }

  .burger {
    display: flex;
    width: 50px;
    height: 35px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger__line {
    height: 3px;
    width: 100%;
    background-color: #fddbb7;
  }

}

@media (max-width: 480px) {

  .top-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .top-menu__name {
    font-size: 22px;
  }

  .top-menu__site-name {
    font-size: 16px;
  }

  .burger {
    width: 40px;
  }

  .top-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    ;
  }
}

.section-container {
  padding-left: 75px;
  padding-right: 75px;
}

@media (max-width: 768px) {
  .section-container {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 480px) {
  .section-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section {
  margin-bottom: 30px;
}

.hero {
  display: flex;
  /* padding-left: 75px;
  padding-right: 75px; */
  color: #fddbb7;
  justify-content: space-between;
  background-color: #07090c;
  align-items: center;
}

.hero::after {
  content: '';
  background-image: url(assets/img/equipment2.webp);
  width: 552px;
  height: 433px;
}

@media (max-width: 768px) {
  .hero::after {
    display: none;
  }
}

.section-text {
  max-width: 450px;
}

.section-text__header {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  margin: auto;
}

.section-text__small {
  font-size: 20px;
  line-height: 28px;
}

.section-text__small_playlist {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .section-text {
    max-width: fit-content;
  }

  .section-text__small::first-letter {
    margin-left: 20px;
  }

  .section-text__header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .section-text__small {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
  }
}

.mobile-image {
  display: none;
}

@media (max-width: 768px) {
  .mobile-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 20px;
  }
}

.audio-equipment {
  background-color: #07090c;
  display: flex;
  justify-content: space-between;
  /* padding-left: 75px;
  padding-right: 75px; */
  align-items: center;
}

.audio-equipment::before {
  content: '';
  background-image: url(assets/img/digital-piano-transformed.webp);
  width: 620px;
  height: 520px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

@media (max-width: 768px) {
  .audio-equipment::before {
    display: none;
  }
}

.slogan2 {
  color: #fddbb7;
}

.slogan2__h2 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.playlist {
  column-count: 2;
  padding-left: 30px;
}

.playlist__item {
  display: flex;
  font-size: 16px;
  text-transform: initial;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.playlist__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

@media (max-width: 768px) {

  .playlist {
    padding-left: 0;
  }

  .playlist__item {
    justify-content: center;
  }
}

.children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #fddbb7; */
  /* padding-left: 75px;
  padding-right: 75px; */
}

.children::after {
  content: '';
  background-image: url(./assets/img/child.webp);
  width: 570px;
  height: 570px;
}

@media (max-width: 768px) {
  .children::after {
    display: none;
  }
}

.children__text-wrapper {
  max-width: 450px;
}

.children__h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.children__description {
  font-size: 20px;
  line-height: 28px;
}

.next-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-block::before {
  content: '';
  background-image: url(./assets/img/dj_equipment.webp);
  width: 570px;
  height: 570px;
}

@media (max-width: 768px) {
  .next-block::before {
    display: none;
  }
}

.next-block__text-wrapper {
  max-width: 450px;
}

.next-block__h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.next-block__description {
  font-size: 20px;
  line-height: 28px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(7, 9, 12);
  color: #fddbb7;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 75px;
  padding-right: 75px;
  font-weight: 700;
}

@media (max-width:768px) {
  .footer {
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    gap: 10px;
  }
}

@media (max-width:480px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contacts-ul {
  display: flex;
  gap: 25px;
}

@media (max-width:768px) {
  .contacts-ul {
    justify-content: center;
  }
}

.design a {
  color: #fddbb7;
}

.next-next-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-next-block::after {
  content: '';
  background-image: url(./assets/img/guitar-cropped.webp);
  width: 570px;
  height: 570px;
}

@media (max-width: 768px) {
  .next-next-block::after {
    display: none;
  }
}

.next-next-next-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-next-next-block::before {
  content: '';
  background-image: url(./assets/img/singer-guitar-cropped.webp);
  width: 570px;
  height: 570px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .next-next-next-block::before {
    display: none;
  }
}

.copyright {
  text-align: center;
}

.design {
  text-align: center;
}