@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: "Cormorant";
  src: url(assets/fonts/cormorant/Cormorant-Italic-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url(assets/fonts/noto_serif/NotoSerif-Italic.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caveat";
  src: url(assets/fonts/caveat/Caveat-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #fddbb7;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #07090c;
  color: #fddbb7;
  /* font-style: italic; */
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.top-menu__logo-img {
  width: 65px;
  margin-right: 20px;
}

.top-menu__slogan-container {
  font-family: "Cormorant", serif;
  /* font-style: italic; */
}

.top-menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(7, 9, 12);
  color: #fddbb7;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 75px;
  padding-right: 75px;
  align-items: center;
}

.top-menu__ul {
  display: flex;
  gap: 43px;
}

.top-menu__logo {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.top-menu__name {
  font-size: 35px;
}

.top-menu__site-name {
  font-size: 20px;
  letter-spacing: 3px;
}

.top-menu__nav {
  display: flex;
  align-items: center;
}

.top-menu__li {
  font-weight: 700;
  font-size: 25px;
  font-family: Caveat, sans-serif;
}

.top-menu__href {
  text-decoration: none;
}

.top-menu__contacts {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  font-family: Caveat, sans-serif;
}

.top-menu__contact-href {
  font-family: Cormorant, sans-serif;
  font-size: 25px;
  text-decoration: none;
}

.burger {
  display: none;
  user-select: none;
}

.scroll-lock {
  overflow: hidden;
}

@media (max-width: 1365px) {
  .top-menu {
    padding-right: 45px;
    padding-left: 45px;
  }

  .top-menu__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: 0.3s;
    width: 100%;
    max-width: 450px;
    background-color: #15181c;
    height: 100vh;
    align-items: flex-start;
  }

  .top-menu__nav {
    margin-bottom: 50px;
  }

  .top-menu__contacts {
    flex-direction: column;
    gap: 0;
  }

  .top-menu__contact {
    padding-left: 100px;
  }

  .top-menu__contact-href {
    font-size: 26px;
    line-height: 40px;
  }

  .open {
    transform: translateX(0);
    transition: 0.3s;
  }

  .top-menu__ul {
    flex-direction: column;
    margin-left: 100px;
    gap: 30px;
    margin-top: 38px;
  }

  .top-menu__li {
    font-size: 34px;
  }

  .burger {
    display: flex;
    width: 50px;
    height: 35px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    ;
  }

  .burger__line {
    height: 3px;
    width: 100%;
    background-color: #fddbb7;
    transition: 0.3s;
    user-select: none;
  }

  .burger__line.first.open {
    transform: translateY(14px) rotate(-45deg);
    transition: 0.3s;
  }

  .burger__line.second.open {
    display: none;
  }

  .burger__line.third.open {
    transform: translateY(-18px) rotate(45deg);
    transition: 0.3s;
  }



}

@media (max-width: 480px) {

  .top-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .top-menu__name {
    font-size: 28px;
  }

  .top-menu__site-name {
    font-size: 16px;
  }

  .burger {
    width: 40px;
  }

  .top-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    ;
  }
}

.section-container {
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 45px;
  align-items: center;
}

@media (max-width: 1080px) {
  .section-container {
    padding-left: 45px;
    padding-right: 45px;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .section-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media (max-width: 1080px) {
  .image-container {
    display: none;
  }
}

.image-container__img {
  max-width: 100%;
  height: auto;
}

.section-text {
  max-width: 550px;
}

.section-text__header {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  margin: auto;
  padding-bottom: 16px;
  text-align: center;
  font-family: Cormorant;
}

.section-text__small {
  font-size: 28px;
  line-height: 36px;
  /* text-align: justify; */
  /* font-family: 'STIX Two Text'; */
  font-family: "Bellota Text";
  font-style: italic;
}

.section-text__small::first-letter {
  margin-left: 20px;
}

.section-text__small_playlist {
  margin-bottom: 20px;
}

.section-text__small_poetry {
  font-family: "Caveat", sans-serif;
  /* padding-left: 20px; */
  font-size: 29px;
  line-height: 42px;
  /* text-align: center; */
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.section-text__small_poetry::first-letter {
  margin-left: 0;
}

.section-text__small_poetry-line:nth-of-type(1) {
  padding-left: 0;
}

.section-text__small_poetry-line:nth-of-type(2) {
  padding-left: 10px;
}

.section-text__small_poetry-line:nth-of-type(3) {
  padding-left: 20px;
}

.section-text__small_poetry-line:nth-of-type(4) {
  padding-left: 30px;
}

.section-text__monogram {
  width: 125px;
  display: block;
  margin-left: auto;
}

@media (max-width: 1080px) {
  .section-text {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .section-text__small::first-letter {
    margin-left: 20px;
  }

  .section-text__small_poetry::first-letter {
    margin-left: 0;
  }

  .section-text__header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
  }

  .section-text__monogram {
    margin: auto;
    display: none;
  }
}

@media (max-width: 480px) {
  .section-text__small {
    font-size: 20px;
    line-height: 24px;
    /* text-align: justify; */
  }

  .section-text__small_poetry {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.mobile-image {
  display: none;
}

@media (max-width: 1080px) {
  .mobile-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 20px;
    height: auto;
  }
}

@media (max-width: 1080px) {
  .audio-equipment::before {
    display: none;
  }
}

.playlist {
  column-count: 3;
}

.playlist__item {
  display: flex;
  font-size: 16px;
  text-transform: initial;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.playlist__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

@media (max-width: 1080px) {

  .playlist {
    padding-left: 0;
    display: inline-block;
    margin: auto;
    column-gap: 100px;
  }

  .playlist__item {
    justify-content: left;
  }
}

@media (max-width: 620px) {
  .playlist {
    column-gap: 0;
    column-count: 2;
  }
}

.music {
  text-transform: uppercase;
  font-family: 'Caveat';
  font-size: 24px;
}

@media (max-width: 620px) {
  .music {
    font-size: 18px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 75px;
  padding-right: 75px;
  font-weight: 700;
}

@media (max-width:1080px) {
  .footer {
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    gap: 10px;
  }
}

@media (max-width:480px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contacts-ul {
  display: flex;
  gap: 25px;
}

@media (max-width:1080px) {
  .contacts-ul {
    justify-content: center;
  }
}

.design a {
  color: #fddbb7;
}

.copyright {
  text-align: center;
}

.design {
  text-align: center;
}